@model On_Call_Assistant.Models.Application

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/bootstrap.min.js"></script>
}


<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.appName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rotationLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rotationLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasOnCall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasOnCall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasSecondary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasSecondary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primDisplayColor)
        </dt>

        <dd>
            <div style="height:10px;width:20px;margin-top:5px;background-color:@Model.primDisplayColor;"></div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secDisplayColor)
        </dt>

        <dd>
            <div style="height:10px;width:20px;margin-top:5px;background-color:@Model.secDisplayColor;"></div>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
