@model IEnumerable<On_Call_Assistant.Models.Application>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.appName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rotationLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hasOnCall)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hasSecondary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.displayColor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.appName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rotationLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hasOnCall)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hasSecondary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.displayColor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
