@model On_Call_Assistant.Models.OnCallRotation

@{
    ViewBag.Title = "Details";
}
@section styles {
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/bootstrap.min.js"></script>
}


<h2>Details</h2>

<div>
    <h4>OnCallRotation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employee.employeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.employeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPrimary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPrimary)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-primary btn-sm" href="/home">
    Back to Calendar</a>&nbsp;&nbsp;
    @Html.ActionLink("Edit", "Edit", new { id = Model.rotationID }) |
    @Html.ActionLink("List View", "Index")
</p>
