@model IEnumerable<On_Call_Assistant.Models.OnCallRotation>

@{
    ViewBag.Title = "Generated Schedule";
    ViewBag.AppName = "On-Call Assistant";
}


@section styles {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}

@section scripts {
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
    var url = "/oncallrotations/regenerateSchedule?begin="
    $('#ReGenerateSchedule').click(function (event) {
        event.preventDefault();
        var start = document.getElementById('datepickerS').value;
        var end = document.getElementById('datepickerE').value;
        window.location.replace(url.concat(start,"&end=",end));
        });

    $(function() {
        $( "#datepickerS" ).datepicker();
    });
    $(function () {
        $("#datepickerE").datepicker();
    });

    </script>
}

<h2>@ViewBag.Title</h2>
<p>Start Date : <input type="text" id="datepickerS"></p><p>End Date : <input type="text" id="datepickerE"></p>
<p>
    <button id="ReGenerateSchedule" class="btn btn-primary btn-lg" type="button" onclick='this.disabled = "disabled";'>Regenerate Schedule</button>
    <a href="/OnCallRotations/DownloadSchedule"
       style="margin-bottom:15px">Download</a>
</p><br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPrimary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.employeeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isPrimary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.employeeName)
        </td>
    </tr>
}

</table>
