@model IEnumerable<On_Call_Assistant.Models.OnCallRotation>

@{
    ViewBag.Title = "Rotaions List";
    ViewBag.AppName = "On-Call Assistant";
}
@section styles {
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/bootstrap.min.js"></script>
}

<h2>@ViewBag.Title</h2>
<!--We dont need this part anymore
        <a href="/OnCallRotations/DownloadSchedule"
       style="margin-bottom:15px">Download</a>-->


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPrimary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.employeeName)
        </th>
        <th>
            <span class="glyphicon glyphicon-trash"></span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPrimary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.employeeName)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.rotationID })
            </td>
        </tr>
    }

</table>
