@model On_Call_Assistant.Models.OutOfOffice

@{
    ViewBag.Title = "Delete";
}
@section styles {
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/bootstrap.min.js"></script>
}


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OutOfOffice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employeeOut.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeOut.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reason.reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reason.reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
