@model On_Call_Assistant.Models.OutOfOffice

@{
    ViewBag.Title = "Details";
}
@section styles {
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/bootstrap.min.js"></script>
}


<h2>Details</h2>

<div>
    <h4>OutOfOffice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employeeOut.employeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeOut.employeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reason.reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reason.reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
