@model On_Call_Assistant.Models.HasPaidHoliday

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HasPaidHoliday</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rotation.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rotation.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paidHolidayID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paidHolidayID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.holidayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.holidayDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
