@model IEnumerable<On_Call_Assistant.Models.Employee>

@{
    ViewBag.Title = "Employees";
    ViewBag.AppName = "On-Call Assistant";
}
@section styles {
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/bootstrap.min.js"></script>
}
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<a href="/Employees/Summary" class="btn btn-primary btn-sm">
    Employee Detailed Summary
</a><br /><br />
<table class="table">
    <tr>
        <!--Display full employee name. Added into View-->
        <th>
            @Html.ActionLink("Employee", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Application", "Index", new { sortOrder = ViewBag.AppSortParm })
        </th>
        <th>
            @Html.ActionLink("Experience", "Index", new { sortOrder = ViewBag.ExpSortParam })
        </th>
        <!--Display the rotation count information-->
        <th>
            @Html.ActionLink("Total Rotations", "Index", new { sortOrder = ViewBag.RotSortParam })
        </th>
        <th>
            @Html.ActionLink("Vacation Hours", "Index", new { sortOrder = ViewBag.VacSortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hiredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthday)
        </th>
        <th>
            <span class="glyphicon glyphicon-edit"></span>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <!--Display full employee name. Added into View-->
        <td>
            @Html.DisplayFor(modelItem => item.employeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assignedApplication.appName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.experienceLevel.levelName)
        </td>
        <!--Display the rotation count information-->
        <td>
            @Html.DisplayFor(modelItem => item.rotationCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alottedVacationHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hiredDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthday)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
